* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F2FBFA;
  color: #2A566F;

}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}
